

:root{
    --blue: #172C80;
    --tomato : tomato;
    --orange : #F08034;
    --btn-primary :#428BCA;
    --btn-danger: #d9534f;
    --btn-success:#5cb85c;
    --bg-link : teal;
    --bg-danger: #d9534f;
    --bg-success: #5cb85c;
    --text-primary: #428BCA;
    --text-danger: #d9534f;
    --text-success:#5cb85c;
    --headers-color  : #001049;
    --dark-gray :  #808080;
    --bg-dark : #343a40!important;
    --text-white : white;
}


body{

    margin: 0 ;
    padding: 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.container{
    display: grid;
    grid-template-columns: repeat(4, calc(1fr - 150px));
}



/**Buttons Menu And (X)*/
.nav-buttons-menu{
    display: block !important;
    position: absolute;
    width: 100%;
    text-align: end;
    margin-left: auto;
    margin-right: 50px;
    padding-right: 50px;
    border: none;
    font-size: 20px;
    color: teal;
    cursor: pointer;
    background-color: transparent;
}

.nav > div > button:hover{
    transform: rotate(20deg);
}


 .titles{
    grid-column: 1/-1;
    color: var(--headers-color);
    font-size: 20px;
    font-weight: bold;
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 37px;
    border-bottom:solid 5px var(--blue);
}


.header{
    grid-column: 1/-1 ;
    padding-left: 35px;
    background-color: var(--headers-color);
    color: var(--orange);

    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(3, auto);
    column-gap:20px;
}

.header > div{
 display: flex;
 justify-content: center;
}


.header > img{
  object-fit: scale-down;
}

.header > div > img{
  object-fit: scale-down;
}

.header > div > div > h3{
  color:var(--text-white);
  height: 0px;
  margin-top: -25px;
  padding-top: 25px;
}

.header > div >h3{
  color:var(--text-white);
}

.header-contact{
  display: flex;
  flex-direction: column;
  justify-self: center !important;
  height: auto;
}

.nav-link ul > li > a:hover{
    color: var(--orange);
    cursor: pointer;
  }


.title{
    grid-column: 1/-1;
    background-color: var(--orange);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 35px;
    display: flex;
    justify-content: center;
}
 
.title > h3{
  color:var(--text-white);
}



.footer{
    height: 120px;
    width: 100%;
    margin-top: 120px;
    padding-top: 70px;
    grid-column: 1/-1;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

.footer > h3{
  color: var(--text-white);
}



.show-menu .nav-link{
    display: flex;
    flex-direction: column;
    visibility: visible;
    margin-top: 20px;
  }



  nav{
      grid-template-columns: 1/-1;
      background-color: var(--bg-dark);
      border-bottom: solid 5px var(--tomato);
      position: sticky;
      top: 0px;
      margin-left: -15px !important;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    width: auto;
    margin-left: 15px;
  }

  .arrow-down:after{
    content:  " ▼";
    font-size: 15px !important;
    width: 15px;
  }


  li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-white);
    cursor: pointer;
  }


  nav ul li ul li{
      display: block;
      width: auto;
      border-radius: 2px;
  }

  nav ul li ul li ul li{
    display: block;
    width: 150px;
    border-radius: 2px;
}


  nav ul li ul{
    position: absolute;
    padding-left: 0px;
    margin-left: -15px;
    cursor: pointer;
    background-color: var(--bg-dark);
    display: none;
  }

  nav li ul li ul{
    position: absolute;
    left: 108%;
    margin-top: -25px;
    cursor: pointer;
    display: none;
  }

  nav > ul > li > a:hover{
    color: var(--tomato);
  }

  nav ul li ul li:hover{
  background-color: yellowgreen;
  }

  nav ul li:hover > ul{
    display: block;
  }

  nav ul li ul li:hover > ul{
    display: block;
  }

  




/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 814px) {

    .container{
        display: grid;
        grid-template-columns: repeat(1, auto) ;
   
    }
  
    .header{
        width: 100%;
        padding: 0px !important;
        margin: 0px !important;
    }

    .nav{
        width: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
    }

    .nav ul{
        visibility: hidden;
    }


    .title{
        width: 100%;
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
    }
  

    .footer{
        width:  100%;
        margin-top: 50px !important;
    }
    

  .BtnMenu{
      display: block;
      border: none;
      background-color: transparent;
      color: teal;
      font-weight: bold;
      font-size: 25px;
      margin-top: 10px;
  }

  .BtnMenu:hover{
      color: var(--orange);
      cursor: pointer;
  }

 
}

    


